
    body{
    background: url("../img/Temas/Xbox-Game-Pass-muestra-algo-naranja-que-llegara-mas-adelante.jpg");
    /* background:rgb(231, 102, 124); ; */
    background-attachment: fixed;
}
    #logo:hover{
        background:#ff6600;
        
    
    }
    #menu:hover{
        background:#ff6600;
    
    }
    form input[type = "submit"]:hover{
        background:#ff6600;
        
    }